@import "./variable.scss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import './theme.scss';
@import './mixin.scss';

* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba($color: $light-theme-bg-300, $alpha: 0.9);
}

.App-container {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/bgimg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.App {
  height: 100%;
  min-height: 100vh;
  background-color: rgba($color: $light-theme-bg-300, $alpha: 0.9);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App-content {
  margin-top: 3rem;
  width: 900px;
}

.app-heading1 {
  @include app-heading(('Crimson Text', serif), 40px, 600)
}

.app-heading2 {
  @include app-heading(('Crimson Text', serif), 29px, 600)
}

.app-heading3 {
  margin-top: 5px;
  margin-bottom: 5px;
  @include app-heading(('Montserrat', sans-serif), 18px, 500)
}

.app-heading4 {
  @include app-heading(( 'Montserrat', sans-serif), 15px, 600, $text-color-1000)
}

.app-heading5 {
  @include app-heading(('Crimson Text', serif), 20px, 600)
}

.app-heading6 {
  letter-spacing: 3px;
  @include app-heading(('Inconsolata', monospace), $font-size-xxm, 900, $text-color-300)
}

.app-text { 
  @include app-text(('Cormorant Garamond', serif), $font-size-md, 500, $text-color-500)
}

.text-center {
  text-align: center;
}

.app-navbar {
  background-color: $light-theme-bg-100;
  border: 1px solid $light-theme-bg-800;
}

.icon_3d{
  background-color: $light-theme-bg-700;
  color: $text-color-300;
}

.app-tag {
  padding: 2px 14px 2px 14px;
  border-radius: 15px;
  margin: 3px;
  border: none;
  font-size: $font-size-xm;
  color: $text-color-900;
  font-weight: 600;
}

.home {
  .breakpoint {
    color: $text-color-100;
  }

  .user-profession {
    font-family: 'Inconsolata', monospace;
    color: $theme-color;
    font-size: $font-size-lg;
    font-weight: 600;
  }

  .user-description {
    line-height: 1.5;
    font-family: 'Inconsolata', monospace;
    color: $text-color-500;
    font-weight: 500;
    font-size: $font-size-md;
    b {
      color: $text-color-900;
    }
    span {
      color: $text-color-300;
      font-size: $font-size-xl;
    }
  }
}

.grids {
  display: flex;
  flex-wrap: wrap;
  .grid-3 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .grid-2 {
    flex: 0 0 auto;
    width: 50%;
  }
}

.content-child {
  margin: 20px 0px 11px 0px
}

.dark-theme {
  @include theme_skin()
}

@import './responsive.scss';
@import './mdx.scss'