@import "./variable.scss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import './theme.scss';
@import './responsive.scss';
@import './mixin.scss';

* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/bgimg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.App {
  height: 100%;
  min-height: 100vh;
  background-color: rgba($color: $light-theme-bg-300, $alpha: 0.9);
}


.navigation-bar {
  position: fixed;
  bottom: 2.2rem;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .navbar-child {
    width: auto;
    height: 77px;
    background-color: $light-theme-bg-100;
    border: 1px solid $light-theme-bg-800;
    border-radius: 15px;
    padding: 4px;
    box-shadow: 1px 11px 58px -11px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 1px 11px 58px -11px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 1px 11px 58px -11px rgba(0, 0, 0, 0.31);

    &::after {
      z-index: 2;
      height: 30px;

    }

    .icon-3d {
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background-color: $light-theme-bg-700;
      color: $text-color-300;
      border-radius: 14px;
      margin: 8px 4px;
      -webkit-animatio: icon3d 200ms 10;
      // animation: icon3d 200ms 10;
      transition: 0.2s;
      position: relative;
      z-index: 2;
      font-size: 22px;
      position: relative;

      &:hover {
        box-shadow: -1px 7px 29px -4px rgba(0, 0, 0, 0.06) inset;
        -webkit-box-shadow: -1px 7px 29px -4px rgba(0, 0, 0, 0.06) inset;
        -moz-box-shadow: -1px 7px 29px -4px rgba(0, 0, 0, 0.06) inset;
        // transform: scale(2);
        // margin: 0 2.1rem 4rem 3rem;
        // bottom: 1rem;
        //-webkit-animation: icon3d 200ms infinite;
        // animation: icon3d 200ms infinite;

      }

    }
  }
}


@keyframes icon3d {
  0% {
    text-shadow: 5px 4px $theme-color1, -5px -6px $theme-color2;
  }

  25% {
    text-shadow: -5px -6px $theme-color1, 5px 4px b $theme-color2
  }

  50% {
    text-shadow: 5px -4px $theme-color1, -8px 4px $theme-color2
  }

  75% {
    text-shadow: -8px -4px $theme-color1, -5px -4px $theme-color2;
  }

  100% {
    text-shadow: -5px 0 $theme-color1, 5px -4px $theme-color2
  }
}

.app-heading1 {
  @include app-heading(('Crimson Text', serif), null, 600)
}

.app-heading2 {
  @include app-heading(('Crimson Text', serif), 29px, 600)
}

.app-heading3 {
  @include app-heading(('Crimson Text', serif), 26px, 600)
}

.app-heading4 {
  @include app-heading(( 'Montserrat', sans-serif), 15px, 500, $text-color-1000)
}

.app-heading5 {
  @include app-heading(('Crimson Text', serif), 20px, 600)
}

.app-heading6 {
  letter-spacing: 3px;
  @include app-heading(('Inconsolata', monospace), $font-size-xxm, 900, $text-color-300)
}

.app-text { 
  @include app-text(('Cormorant Garamond', serif), $font-size-md, 500, $text-color-500)
}

.home {
  .breakpoint {
    color: $text-color-100;
  }

  .user-profession {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Inconsolata', monospace;
    color: $theme-color;
    font-size: $font-size-lg;
    font-weight: 600;
  }

  .user-description {
    font-family: 'Hahmlet', serif;
    font-family: 'Inconsolata', monospace;
    color: $text-color-500;
    font-weight: 500;
    font-size: $font-size-md;
    b {
      color: $text-color-900;
    }
    span {
      color: $text-color-300;
      font-size: $font-size-xl;
    }
  }
}

.filter-btns {
  button {
    border: none;
    color: $text-color-900;
    background-color: $light-theme-bg-900;
    margin: 7px;
    padding: 7px 14px;
    border-radius: 7px;
    font-weight: 500;
  }
  .active {
    background-color: $theme-color !important;
    color: $dark-theme-text-100;
  }
}

.services {
  .card .card-body {
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .service-img {
    width: 45px;
  }

  .service-name {
    font-size: $font-size-lg;
  }

  .service-tags {}

  .service-tag {
    padding: 2px 14px 2px 14px;
    // background-color: $light-theme-bg-900;
    border-radius: 15px;
    margin: 3px;
    border: none;
    font-size: $font-size-xm;
    color: $text-color-900;
    font-weight: 600;
  }
}


.dark-theme {
  @include theme_skin()
}