@import "./variable.scss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@900&display=swap');
@import './theme.scss';
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@500&display=swap');
* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/bgimg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.App {
  height: 100%;
  min-height: 100vh;
  background-color: rgba($color: $light-theme-bg-300, $alpha: 0.9);
}


.navigation-bar {
  height: 10vh;
  width: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: row;
  width: auto;
  position: fixed;
  bottom: 2.2rem;
  left: 50%;
  transform: translateX(-50%);

  .navbar-child {
    width: auto;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: row;
    background-color: $light-theme-bg-100;
    border: 1px solid $light-theme-bg-800;
    border-radius: 15px;
    padding: 4px;
    box-shadow: 1px 11px 58px -11px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 1px 11px 58px -11px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 1px 11px 58px -11px rgba(0, 0, 0, 0.31);

    &::after {
      z-index: 2;
      height: 30px;

    }

    .icon-3d {
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background-color: $light-theme-bg-700;
      color: $text-color-300;
      border-radius: 7px;
      margin: 8px;
      -webkit-animation: icon3d 200ms 10;
      animation: icon3d 200ms 10;
      transition: 1s;
      position: relative;
      z-index: 2;
      font-size: 22px;

      &:hover {
        box-shadow: -1px 7px 29px -4px rgba(0, 0, 0, 0.06) inset;
        -webkit-box-shadow: -1px 7px 29px -4px rgba(0, 0, 0, 0.06) inset;
        -moz-box-shadow: -1px 7px 29px -4px rgba(0, 0, 0, 0.06) inset;
        transform: scale(2);
        margin: 0 1.6rem 0 1.6rem;
        bottom: 1rem;
        -webkit-animation: icon3d 200ms infinite;
        animation: icon3d 200ms infinite;
      }

      &:hover~i {
        transform: scale(1.01);
      }
    }
  }
}


@keyframes icon3d {
  0% {
    text-shadow: 5px 4px $theme-color1, -5px -6px $theme-color2;
  }

  25% {
    text-shadow: -5px -6px $theme-color1, 5px 4px b $theme-color2
  }

  50% {
    text-shadow: 5px -4px $theme-color1, -8px 4px $theme-color2
  }

  75% {
    text-shadow: -8px -4px $theme-color1, -5px -4px $theme-color2;
  }

  100% {
    text-shadow: -5px 0 $theme-color1, 5px -4px $theme-color2
  }
}

.home {
  .user-name {
    color: $text-color-900;
    font-weight: 700;
  }

  .breakpoint {
    color: $text-color-100;
  }

  .user-profession {
    font-family: 'Cormorant Garamond', serif;
    color: $theme-color;
    font-size: $font-size-lg;
    font-weight: 600;
  }

  .user-description {
    font-family: 'Hahmlet', serif;
    color: $text-color-500;
    font-weight: 500;
    font-size: $font-size-sm;
  }
}

.projects {
  .project-name {
    color: $text-color-900;
  }

  .preview-link,
  .code-link {
    background-color: $theme-color;
    margin-right: 5px;
    padding: 2px 10px;
    color: $dark-theme-text-100;
    border-radius: 4px;
  }
}

.filter-btns {
  button {
    border: none;
    color: $text-color-900;
    background-color: $light-theme-bg-900;
    margin: 7px;
    padding: 7px 14px;
    border-radius: 7px;
  }
  .active {
    background-color: $theme-color !important;
    color: $dark-theme-text-100;
  }
}

.services {
  .card .card-body {
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .service-img {
    width: 45px;
  }

  .service-name {
    font-size: $font-size-lg;
  }

  .service-tags {}

  .service-tag {
    padding: 2px 14px 2px 14px;
    // background-color: $light-theme-bg-900;
    border-radius: 15px;
    margin: 3px;
    border: none;
    font-size: $font-size-xm;
    color: $text-color-900;
    font-weight: 600;
  }
}


.dark-theme {
  @include theme_skin()
}