@mixin theme_skin() {
    .App {
        background-color: rgba($color: $dark-theme-bg-900, $alpha: 0.95);
    }
    
    .app-heading1, .app-heading3, .app-heading4 {
        color: $dark-theme-text-100;
    }

    .app-heading6 {
        color: $dark-theme-text-1000;
    }

    .app-tag {
        background-color: $dark-theme-bg-100;
        color: $dark-theme-text-500;
    }

    .navigation-bar {
        .navbar-child {
            background-color: $dark-theme-bg-800;
            border-color: $dark-theme-bg-700;

            .icon-3d {
                background-color: $dark-theme-bg-700;
                color: $dark-theme-text-900;
            }
        }
    }

    .home {
        .user-description {
            color: $dark-theme-text-900;
            b {
                color: $dark-theme-text-300;
            }
            span {
                color: $dark-theme-text-1000;
            }
        }
        .timestamp {
            color: $dark-theme-text-1000;
        }
    }

    .projects {
        .card {
            background-color: $dark-theme-bg-500;
        }

        .project-name {
            color: $dark-theme-text-300;
        }
    }

    .filter-btns {
        button {
          background-color: $dark-theme-bg-300;
          color: $dark-theme-text-300
        };
      }

    .services {
        .card {
            background-color: $dark-theme-bg-500;
        }
        .service-name {
            color: $dark-theme-text-300;
        }
    }
}