$light-theme-bg: lightgrey;
$light-theme-border-color: grey;
$dark-theme-bg: black;



$text-color-100: #dbd7d7;
$text-color-300: #9c9c9c;
$text-color-500: #757575;
$text-color-700: #646464;
$text-color-900: #3f3f3f;

$light-theme-bg-100: #fff;
$light-theme-bg-300: #F0F1F3;
$light-theme-bg-500: #E4E6EB;
$light-theme-bg-700: #f0f0f1;
$light-theme-bg-800: #ebebeb;
$light-theme-bg-900: #e0e0e0;


$dark-theme-bg-100: #5f6063;
$dark-theme-bg-300: #48494b;
$dark-theme-bg-500: #3A3B3C;
$dark-theme-bg-700: #1c1c1c;
$dark-theme-bg-700: #212121;
$dark-theme-bg-800: #161616;
$dark-theme-bg-900: #090a0a;

$dark-theme-text-1000: #7a7b7e;
$dark-theme-text-900: #a6a8ac;
$dark-theme-text-700: #B0B3B8;
$dark-theme-text-500: #c4c4c4;
$dark-theme-text-300: #e4e4e4;
$dark-theme-text-100: #f7f4f4;


$theme-color: #4471db;
$theme-color1: #44d4db;
$theme-color2: #f752bb;
$theme-color3: #44db95;
$theme-color4: #4471db;
$theme-color5: #808080;


$font-size-xxm: 12px;
$font-size-xm: 13px;
$font-size-sm: 14px;
$font-size-md: 15px;
$font-size-lg: 19px;
$font-size-xl: 22px;
$font-size-xxl: 25px;
$font-size-xxxl: 28px;
