@import "../../../assets/scss/variable.scss";

.body {
    height: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img {
    width: 45px;
}

.card {
    background-color: white;
}