@import "../../../assets/scss/variable.scss";

.card {
    background-color: transparent;
    border: 1px solid $light-theme-bg-900;
    margin-bottom: 1rem;
    padding: 1.5rem;
    a {
        text-decoration: none;
    }
    .body {
        display: flex;
        justify-content: left;
        flex-direction: column;
        .title {
            font-size: 28px;
            font-weight: normal;
        }
        .badgeContainer {
            display: flex;
            justify-content: left;
            flex-direction: row;
            align-items: center;
            .avatar {
                border-radius: 30px;
                width: 45px;
            }
            h5 {
                font-weight: normal;
                padding: 0px 10px;
                margin-bottom: 0px;
            }
        }
        .badge {
            background-color: $light-theme-bg-900;
            color: $text-color-1000;
            padding: 3px 6px;
            border-radius: 3px;
        }
        .img {
            padding: 10px 0px;
        }
        .content {
            font-weight: normal;
            opacity: 0.7;
            line-height: 1.65;
        }
        .cardButton {
            border: none;
            margin: 10px 0px;
            padding: 7px 23px;
            border-radius: 7px;
            font-weight: 500;
            width: fit-content;
            background-color: rgba($color: $theme-color, $alpha: 0.7) !important;
            color: $dark-theme-text-100;
        }
    }
}
