@import "../../../assets/scss/variable.scss";

.body {
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.badgeContainer {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
}

.card {
    background-color: transparent;
    border: 1px solid $light-theme-bg-900;
}

.badge {
    background-color: $light-theme-bg-900;
    color: $text-color-1000;
}

.cardButton {
    border: none;
    margin: 10px 0px;
    padding: 7px 23px;
    border-radius: 7px;
    font-weight: 500;
    width: fit-content;
    background-color: rgba($color: $theme-color, $alpha: 0.7) !important;
    color: $dark-theme-text-100;
}